/****************************************************************************************//**
* \file fast_mobile_lookup.css																*
* \brief Contains the CSS to apply to the XHTML version of the satellite.					*

    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class

    \version 3.9.3
    
    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://bmlt.magshare.org
    
    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
********************************************************************************************/

.meeting_divider_hr
{
	border:none;
	border-bottom:1px solid #555;
}

html,
body
{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

body
{
	font-family:Helvetica,Arial,San-Serif;
	text-align:center;
    background-color:#030;
}

#search_form_body div.search_div,
.multi_meeting_div
{
	padding:8px;
	color:white;
}

#search_form_body div.search_div a,
#search_form_body div.search_div a:visited,
.multi_meeting_div a,
.multi_meeting_div a:visited
{
	color:white;
	text-decoration:underline;
}

#search_form_body div.search_div a:hover,
#search_form_body div.search_div a:active,
.multi_meeting_div a:hover,
.multi_meeting_div a:active
{
	color:#cc0;
	text-decoration:none;
}

.info_window_div
{
	position:absolute;
	top: 0px;
	left: 0px;
	margin:0;
	padding: 0;
	width: 100%;
    background-color:#efe;
    border: 1px solid #030;
}

.results_map_div
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.search_table,
.search_intro,
.GPS_lookup_tr
{
	width: 100%;
}

.address_input_form .address_input
{
	width:97%;
	margin-left: auto;
	margin-right: auto;
}

.link_one_line
{
	padding-top:4px;
	padding-bottom:4px;
}

.search_address
{
	text-align:left;
}

.search_address h1,
#address_input_line_wrapper
{
	text-align:center;
}

.link_one_line_submit
{
	text-align:center;
}

.search_address .link_form_elements
{
	padding-left: 44px;
}

.search_intro
{
	text-align:center;
}

.GPS_lookup_tr
{
	margin-bottom:12px;
}

.throbber_div
{
	position:absolute;
	top:50%;
	left:50%;
	width:50px;
	height:50px;
	margin-left:-25px;
	margin-top:-25px;
	margin:0;
	padding:0;
}

.throbber_div img
{
	display:block;
	width:50px;
	height:50px;
	margin:0;
	padding:0;
}

input.address_input
{
	margin-bottom: 8px;
}

.info_window_div .marker_div_distance,
.info_window_div .marker_div_formats
{
	margin-top:4px;
}

.info_window_div .distance_span,
.info_window_div .formats_span
{
	font-weight:bold;
}

.info_window_div h5
{
	margin: 0;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 0;
}

.multi_day_info_div fieldset
{
	margin-bottom: 4px;
}

.info_window_div h4
{
	padding: 0;
	margin:0;
}

.throbber_div
{
	width:54px;
	height:54px;
	margin-left:-27px;
	margin-top:-27px;
}

.throbber_div img
{
	width:50px;
	height:50px;
	margin:2px;
}

.infoWindow_Wrapper_div
{

	background-color:white;
	border:2px solid #555;
	padding:4px;
	margin:0;
	overflow: auto;
}
